HUGGING_FACE_HUB_TOKEN=<code>
GENERATION_MODEL=CohereForAI/aya-23-8B
GENERATION_SERVER_BASE_URL=http://127.0.0.1:8000/v1
EMBEDDING_MODEL=intfloat/multilingual-e5-base
EMBEDDING_SERVER_BASE_URL=http://127.0.0.1:8080