HUGGING_FACE_HUB_TOKEN=<code>
GENERATION_MODEL=CohereForAI/aya-23-8B
GENERATION_SERVER_BASE_URL=http://172.17.0.1:8000/v1
EMBEDDING_MODEL=intfloat/multilingual-e5-base
EMBEDDING_SERVER_BASE_URL=http://172.17.0.1:8080
DOCKER_VOLUME_DIRECTORY=/teamspace/studios/this_studio
MILVUS_CLIENT_URI=http://172.17.0.1:19530
EMBEDDING_VECTOR_SIZE=768